div.sidebar {
  float: right;
  margin: 20px 0 2em 1.5em;
  padding: 0.5em 0 3em 2em;
  width: 31%;
  border-left: 1px solid #CCC;

}
div.sidebar h4 {
  margin: 0 0 .5ex 0;
}
div.sidebar ul {
  list-style: none;
  margin: 0 0 1ex 0;
  padding: 0;
}
div.sidebar li {
  margin: 0;
  padding: 0;
}
div.sidebar li .description {
  font-style: italic;
  margin-left: 1em;
}
